.Delete-Button {
    border: none;
    background: none;
    color: red;
    font-weight: 700;
}

.Edit-Button {
    border: none;
    background: none;
    color: orange;
    font-weight: 700;
    margin-right: 10px;
}

.Add-Button {
    background-color: lime;
    color:black;
}